<ion-view view-title="Favourites">
  <ion-content>
    <ion-item ng-if="favourites.length===0">
      <p>You currently have no favourites</p>
    </ion-item>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="favourite in favourites" type="item-text-wrap" href="#/view/{{favourite.hymn}}">
        <p class="gurmukhi">{{favourite.gurmukhi}}</p>

        <ion-option-button class="button-assertive" ng-click="remove(favourite)">
          <i class="icon ion-trash-a" title="Delete"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
