<ion-view ng-controller="PrayersDetailCtrl" view-title="{{prayer.name}}">
	<audio class="audio-wrapper" controls preload crossorigin="anonymous" ng-if="prayer.audioURI">
	  <source src="{{prayer.audioURI}}" type="audio/mpeg">
	</audio>
  <ion-content class="space-top">
    <ion-list>
      <ion-item ng-repeat="scripture in ::prayer.data" ng-class-even="'search-even'" type="item-text-wrap">
        <p class="gurmukhi blue" ng-class="{prabhki:font()}">{{scripture.gurmukhi}}</p>
        <p class="transliteration yellow">{{scripture.transliteration}}</p>
        <p class="translation base1">{{scripture.translation}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>