<ion-view view-title="Search">
  <ion-content class="padding" ng-controller="SearchCtrl">
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" id="search" placeholder="Search by First Letters" ng-model="searchText">
    </label>
    <button class="button button-outline button-stable button-search-style" ng-click="getResults()">Search</button>
    <div class="badge badge-positive badge-search-style" ng-show="showResults">{{scriptures.length}}</div>
  </div>
    <ion-list ng-show="searchText">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="scripture in scriptures" ng-class-even="'search-even'" type="item-text-wrap" href="#/view/{{viewAs}}/{{scripture.hymn}}" ng-click="showLoading()">
        <p class="gurmukhi">{{scripture.gurmukhi}}</p>
        <p class="transliteration">{{scripture.transliteration}}</p>
        <p class="translation">{{scripture.translation}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
