<ion-view view-title="Search">
  <ion-content class="padding" ng-controller="SearchCtrl">
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" id="search" placeholder="{{searchPlaceholder}}" ng-model="searchText" on-enter="getResults()" ng-class="{gurmukhi:checkSearch()}">
    </label>
    <button class="button button-outline button-stable button-search-style" ng-click="getResults()">Search</button>
    <div class="badge badge-positive badge-search-style" ng-show="showResults">{{scriptures.length}}</div>
  </div>
  <div class="list" ng-hide="showResults" ng-if="searches.length>0">
    <div class="item item-divider">
      Recent Searches
    </div>
    <div class="item recent-search" ng-repeat="search in searches.slice(-5).reverse() track by $index" ng-click="$parent.$parent.searchText = search.searchText; getResults();">
        <p ng-class="getRecentSearchClass(search.searchType)">{{search.searchText}}</p>
    </div>
  </div>
    <ion-list ng-show="showResults">
      <ion-item ng-if="scriptures.length==0">Sorry, no results were found</ion-item>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="scripture in scriptures" ng-class-even="'search-even'" type="item-text-wrap" href="#/view/{{viewAs}}/{{scripture.hymn}}" ng-click="showLoading()">
        <p class="gurmukhi blue" ng-class="{prabhki:font()}">{{scripture.gurmukhi}}</p>
        <p class="transliteration yellow">{{scripture.transliteration}}</p>
        <p class="translation base1">{{scripture.translation}}</p>
        <p class="translation base1 italic">Page: {{scripture.page}} - {{optionalField(scripture.author)}}{{optionalField(scripture.melody)}}{{scripture.scripture | scripture}}</p>
      </ion-item>
      <ion-item ng-if="scriptures.length==totalResults">Only the first {{totalResults}} results were shown, please make your search more specific</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
