<ion-view view-title="Settings">
  <ion-content>
    <div class="list" ng-controller="SettingsCtrl">
      <label class="item item-input item-select">
        <div class="input-label">
          View As
        </div>
        <select ng-model="viewAs" id="viewAs" ng-change="updateSettings();">
          <option value="hymn">Hymn</option>
          <option value="slides">Slides</option>
        </select>
      </label>
      <label class="item item-input">
        <div class="input-label">
          Recent Searches
        </div>
        <button class="button button-settings-clear" ng-click="clearRecentSearches()">Clear</button>
      </label>
    </div>
  </ion-content>
</ion-view>