<ion-view view-title="Settings">
  <ion-content>
    <div class="list" ng-controller="SettingsCtrl">
      <label class="item item-input item-select">
        <div class="input-label">
          Search By
        </div>
        <select ng-model="search" id="search" ng-change="updateSettings();">
          <option value="gurmukhi_search">Gurmukhi (1st Letters)</option>
          <option value="gurmukhi">Gurmukhi (Words)</option>
          <option value="translation">Translation (Words)</option>
          <option value="transliteration_search">Transliteration (1st Letters)</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          View As
        </div>
        <select ng-model="viewAs" id="viewAs" ng-change="updateSettings();">
          <option value="hymn">Hymn</option>
          <option value="slides">Slides</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Font
        </div>
        <select ng-model="font" id="font" ng-change="updateSettings();">
          <option value="gurbaniakhar">Gurbani Akhar</option>
          <option value="prabhki">Prabhki</option>
        </select>
      </label>
        <div class="item buttons">
            Recent Searches
            <button class="button pointer float-right" ng-click="clearRecentSearches()" title="Clear Recent Searches">Clear</button>
        </div>
        <div class="item buttons">
            Favourites (Export)
            <button class="button pointer float-right" ng-click="exportFavourites()" title="Export" ng-disabled="exportFavouritesBool()">Export</button>
        </div>
        <div class="item buttons">
            Favourites (Import)
            <button class="button pointer float-right" ng-click="importFavourites()" title="Export">Import</button>
            <input class="float-right" title="Select a favourites.json file to import" type="file" accept=".json" id="favouritesImport" ng-class="importFavouritesBool()"></input>
        </div>
    </div>
  </ion-content>
</ion-view>