<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Prayers Tab -->
  <ion-tab title="Prayers" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/prayers">
    <ion-nav-view name="prayers"></ion-nav-view>
  </ion-tab>

  <!-- Random Hymn Tab -->
  <ion-tab title="Random" icon-off="ion-android-bulb" icon-on="ion-android-bulb" href="#/random">
    <ion-nav-view name="random"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/search">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>

  <!-- Favourites Tab -->
  <ion-tab title="Favourites" icon-off="ion-heart" icon-on="ion-heart" href="#/favourites">
    <ion-nav-view name="favourites"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
