<ion-view on-swipe-right="previousHymnMobile()" on-swipe-left="nextHymnMobile()">
    <ion-nav-title>Page {{page}} - {{optionalField(scriptures[1].author)}}{{optionalField(scriptures[1].melody)}}{{scriptureName | scripture}}</ion-nav-title>
    <i class="icon ion-chevron-right hymn-next" title="Next Hymn" ng-click="nextHymn()"></i>
    <i class="icon ion-chevron-left hymn-previous" title="Previous Hymn" ng-click="previousHymn()"></i>
  <ion-content ng-controller="ViewCtrl">
    <ion-list ng-if="showResults" can-swipe="false">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="scripture in ::scriptures track by $index" ng-class-even="'search-even'" type="item-text-wrap">
        <p class="gurmukhi blue" ng-class="{prabhki:font()}" 
          style="font-size: {{hymn.gurmukhiFontSize}}px; line-height: {{hymn.gurmukhiFontSize}}px;">{{scripture.gurmukhi}}</p>
        <p class="translation base1" ng-show="hymn.showEnglish"
          style="font-size: {{hymn.englishFontSize}}px; line-height: {{hymn.englishFontSize}}px;">{{scripture.translation}}</p>
        <p class="transliteration yellow" ng-show="hymn.showTransliteration"
          style="font-size: {{hymn.transliterationFontSize}}px; line-height: {{hymn.transliterationFontSize}}px">{{scripture.transliteration}}</p>
        <a ng-click="showActionSheet(scripture._id,scripture.hymn,scripture.gurmukhi,$index)" class="pointer">
            <i class="icon ion-android-more-vertical"></i>
        </a>
      </ion-item>
      <ion-item ng-if="scriptures==0">Sorry, this hymn could not be found</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
