<ion-view view-title="">
  <ion-content ng-controller="ViewCtrl">
    <ion-list ng-if="showResults">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="scripture in scriptures" ng-class-even="'search-even'" type="item-text-wrap">
        <p class="gurmukhi">{{scripture.gurmukhi}}</p>
        <p class="transliteration">{{scripture.transliteration}}</p>
        <p class="translation">{{scripture.translation}}</p>

        <ion-option-button class="button-positive" ng-click="share(scripture.id)">
        	<i class="icon ion-android-share-alt" title="Share"></i>
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="favourite(scripture.id)">
        	<i class="icon ion-heart" title="Favourite"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
