<ion-view view-title="">
  <ion-content ng-controller="ViewCtrl" class="padding base03">
	<ion-slide-box ng-if="showResults" on-slide-changed="slideHasChanged($index)">
	  <ion-slide ng-repeat="scripture in ::scriptures">
	  	<div class="box">
			<h1 class="gurmukhi blue" ng-class="{prabhki:font()}">{{scripture.gurmukhi}}</h1>
		</div>
		<div class="box">
			<h1 class="transliteration yellow">{{scripture.transliteration}}</h1>
		</div>
		<div class="box">
			<h1 class="translation base1">{{scripture.translation}}</h1>
		</div>
	  </ion-slide>
	</ion-slide-box>
	<a class="icon ion-close-round slide-navigator-close" title="Close Slideshow" ng-click="closeSlideshow()"></a>
	<i class="icon ion-chevron-right slide-navigator-next" title="Next Slide" ng-click="nextSlide()"></i>
	<i class="icon ion-chevron-left slide-navigator-previous" title="Previous Slide" ng-click="previousSlide()"></i>
	<i class="icon ion-ios-browsers slide-navigator-open" title="Open Navigator" ng-click="toggleNavigator()"></i>
	<ion-content direction="xy" class="slide-navigator" ng-show="showNavigator">
		<p class="gurmukhi blue slide-navigator-gurmukhi" ng-repeat="scripture in ::scriptures">
			<a ng-click="gotoSlide($index)">{{scripture.gurmukhi}}</a>
		</p>
	</ion-content>
  </ion-content>
</ion-view>