<!DOCTYPE html>
<html>
  <head>
    <title>Sikher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="lib/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="lib/ionic/release/js/ionic.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.min.js"></script>
    <script src="lib/angular-css/angular-css.min.js"></script>
    <script src="lib/isMobile/index.js"></script>
    <script src="lib/rsvp.js/rsvp.min.js"></script>
    <script src="lib/webfontloader/webfontloader.js"></script>
    <script src="js/canvas.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/slicer.js"></script>
    <script src="js/filters.js"></script>
  </head>
  <body ng-app="starter" on-key-press key-press="keyPress($event)">
    <ion-side-menus>
  <ion-side-menu-content drag-content="false">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="secondary">
        <button class="button left" ng-click="showSettings()" ng-show="showFormatSettings">
          <i class="icon ion-ios-settings-strong" title="Setting"></i>
        </button>
        <button class="button right" ng-click="goHome()">
          <i class="icon ion-ios-home" title="Home"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" ng-controller="ViewCtrl">
    <ion-header-bar class="bar bar-header">
        <h1 class="title" ng-show="userMode === 'advanced'">Font Settings</h1>
        </ion-header-bar>
        <ion-content has-header="true">
          <div class="list" ng-show="userMode === 'advanced'">
            <div class="item item-divider">
              Gurmukhi
            </div>
            <div class="item range range-positive">
                <i class="icon ion-minus-circled"></i>
                  <input type="range" ng-model="hymn.gurmukhiFontSize" min="10" max="100" />
                <i class="icon ion-plus-circled"></i>
            </div>
            <div class="item item-divider">
              English
            </div>
            <div class="item range range-positive">
                <i class="icon ion-minus-circled"></i>
                  <input type="range" ng-model="hymn.englishFontSize" min="8" max="100">
                <i class="icon ion-plus-circled"></i>
            </div>
            <ion-toggle ng-model="hymn.showEnglish" toggle-class="toggle-positive">Show English</ion-toggle>
            <div class="item item-divider">
              Transliteration
            </div>
            <div class="item range range-positive">
                <i class="icon ion-minus-circled"></i>
                  <input type="range" ng-model="hymn.transliterationFontSize" min="8" max="100">
                <i class="icon ion-plus-circled"></i>
            </div>
            <ion-toggle ng-model="hymn.showTransliteration" toggle-class="toggle-positive">Show Transliteration</ion-toggle>
        </div>
        <div class="list" ng-show="userMode === 'normal'">
            <div class="item item-divider">
              Font Settings
            </div>
            <ion-radio ng-model="hymn.fontSize" value="small">Small</ion-radio>
            <ion-radio ng-model="hymn.fontSize" value="medium">Medium</ion-radio>
            <ion-radio ng-model="hymn.fontSize" value="large">Large</ion-radio>
        </div>
        </ion-content>
  </ion-side-menu>
</ion-side-menus>
  </body>
</html>
