.audio-wrapper { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 85px; max-height: 85px; margin:0; padding:5px; background-color: #000000; text-align: center; }
.space-top { margin-top: 34px; }
h3:first-child { padding: 0 10px; }
.tab-nav.tabs { display: none; }
.has-tabs, .bar-footer.has-tabs { bottom: 0; }
.has-header { top: 44px !important; }
.has-tabs-top { top: auto; }
.blue { color: #268bd2 }
.yellow { color: #b58900 }
.base1 { color: #93a1a1 }