/* Ionic CSS Overrides */
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p { white-space: normal; }
.item-complex.item-icon-right .item-content { padding-right: 16px; }

/* Sikher CSS */
@font-face { font-family: Prabhki; src: url('../fonts/prabhki.ttf'); }
.search-even, .search-even .item-content { background-color: #fdfdfd; }
.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { font-family: Prabhki; font-size: 20px; line-height: normal; padding: 5px 0; }
.transliteration, .item h2.transliteration, .item p.transliteration { padding: 5px 0; }
.translation, .item h2.translation, .item p.translation { padding: 5px 0; }


/* Classes for Slides */
/* Really small mobiles */
@media (max-width: 767px) {
	h1.gurmukhi { font-size: 36px; padding: 0; }
	h1.transliteration { font-size: 24px; padding: 0; }
	h1.translation { font-size: 24px; padding: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1.gurmukhi { font-size: 50px; }
	h1.transliteration { }
	h1.translation { }
}
 
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1.gurmukhi { font-size: 55px; }
	h1.transliteration { }
	h1.translation { }	
}
 
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	h1.gurmukhi { font-size: 70px; }
	h1.transliteration { font-size: 50px; }
	h1.translation { font-size: 50px; }
}

.box { width: 100%; height: 33.3333%; max-width: 100%; max-height: 33.3333%; padding:0; margin: 0; }
.slider, .scroll { width: 100%; height: 100%; padding: 0; margin: 0;}
.base03 { background-color: #002b36 }
.blue { color: #268bd2 }
.yellow { color: #b58900 }
.base1 { color: #93a1a1 }


