/* Ionic CSS Overrides */
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p { white-space: normal; }
.item-complex.item-icon-right .item-content { padding-right: 16px; }

/* Sikher CSS */
@font-face { font-family: Prabhki; src: url('../fonts/prabhki.ttf'); }
.search-even, .search-even .item-content { background-color: #fdfdfd; }
.button-search-style { position: absolute; z-index: 9999; top: 0; right: 0; }
.badge-search-style { position: absolute; top: 12px; right: 86px; height: auto; width: 35px; z-index: 2; }
.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { font-family: Prabhki; font-size: 20px; line-height: normal; padding: 5px 0; color: #000000; }
.transliteration, .item h2.transliteration, .item p.transliteration { padding: 5px 0; }
.translation, .item h2.translation, .item p.translation { padding: 5px 0; }
.tabs { font-size: 32px; }

/* Really small mobiles */
@media (max-width: 767px) {
	.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { font-size: 22px; }
	.transliteration, .item h2.transliteration, .item p.transliteration  { }
	.translation, .item h2.translation, .item p.translation { }
	.item p { }
	.item h2 { }
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { font-size: 24px; }
	.transliteration, .item h2.transliteration, .item p.transliteration  { font-size: 18px; }
	.translation, .item h2.translation, .item p.translation { font-size: 18px; }
	.item p { font-size: 16px; }
	.item h2 { font-size: 18px; }
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
	span.tab-title.ng-binding { display: none; }
	.tab-item .icon { font-size: 48px; }
	.tabs { font-size: 48px; }
}
 
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { }
	.transliteration, .item h2.transliteration, .item p.transliteration  { }
	.translation, .item h2.translation, .item p.translation { }
	.item p { }
	.item h2 { }
	span.tab-title.ng-binding { }
	.tab-item .icon { }
	.tabs { }
}
 
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.gurmukhi, .item h2.gurmukhi, .item p.gurmukhi { font-size: 26px; }
	.transliteration, .item h2.transliteration, .item p.transliteration  { font-size: 20px; }
	.translation, .item h2.translation, .item p.translation { font-size: 20px; }
	.item p { font-size: 18px; }
	.item h2 { font-size: 20px; }
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 18px; }
	span.tab-title.ng-binding { }
	.tab-item .icon { font-size: 48px; }
	.tabs { height: 48px; }
}


